cryptography==42.0.8
pyyaml==6.0.1
streamlit-authenticator==0.3.2
PyMuPDF==1.24.7
langchain-huggingface==0.0.3
langchain-pinecone==0.1.1
langchain-core==0.2.5
langchain-community==0.2.4
langchain==0.2.3
langchain-groq==0.1.5